/data/*.zip
/data/*.xlsx

*.sqlite3
*.db


venv/
.venv/
env/
ENV/

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/

.env
.env.local


node_modules/
dist/
dist-ssr/
*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vscode/
.idea/
.DS_Store
Thumbs.db